/* overpass-mono-300 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Light'), local('OverpassMono-Light'),
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-300.svg#OverpassMono') format('svg'); /* Legacy iOS */
}

/* overpass-mono-regular - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'),
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-regular.svg#OverpassMono') format('svg'); /* Legacy iOS */
}

/* overpass-mono-700 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Bold'), local('OverpassMono-Bold'),
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-700.svg#OverpassMono') format('svg'); /* Legacy iOS */
}

/* overpass-mono-600 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'),
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-mono-v5-latin-ext_latin-600.svg#OverpassMono') format('svg'); /* Legacy iOS */
}
