$font-text: Archivo, Arial, sans-serif
$font-heading: 'Darker Grotesque', Arial, sans-serif

body
    font-family: $font-text
    font-size: 15px
    color: $color-text
    background-color: $color-background

    +tablet
        font-size: 16px

h1, h2, h3
    font-family: $font-heading
    line-height: 1em

h1
    font-size: 4em

h2
    font-size: 3em

h3
    font-size: 2em

p, li
    line-height: 1.8em
