$bg-color: #261447;

// Color Palette
$color1: #ff6c11;
$color2: #ff3864;
$color3: #2de2e6;
$color4: #261447;
$color5: #0d0221;
$color6: #241734;
$color7: #2e2157;
$color8: #fd3777;
$color9: #f706cf;
$color10: #fd1d53;
$color11: #023788;
$color12: #650d89;
$color13: #920075;
$color14: #f6019d;
$color15: #d40078;
$color16: #f9c80e;
$color17: #ff4365;
$color18: #540d6e;
$color19: #791e94;
$color20: #541388;
