footer
    font-size: .8em
    padding-top: .5em
    height: $footer-height
    width: 100%
    background-color: $color-background
    display: flex
    margin: 0 auto
    max-width: 1200px
    padding: 0 4vw

    .footer-content
        display: flex
        width: 100%
        border-top: 1px solid $color-text
        justify-content: space-between
        padding-top: .5em

        .leading
            justify-content: start

            a
                margin-right: 1em

        .trailing
            display: flex
            flex-direction: row
            justify-content: center
            flex-wrap: nowrap

            .contact
                padding: 0 .5em

            .social-media
                // background-color: cyan

                .icon
                    width: 1.2em
                    margin-left: .5em