.site-wrapper
    display: flex
    flex-direction: column
    margin: 0 auto
    max-width: 1200px
    padding: 0 4vw

footer
    // margin: 3em 0
    // padding-top: .5em
    // border-top: 1px solid $color-text
    position: fixed
    bottom: 0
    left: 0
    right: 0
    padding-top: .5em
    height: 50px
    width: 100%
    background-color: $color-background
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4)

    div
        // border-top: 1px solid green
        width: 100%
        display: flex
        justify-content: center



.partners
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

.sponsor-card
    align-items: center
    background-color: white
    border-radius: 10px
    color: white
    cursor: pointer
    display: flex
    flex: 1 1 0px
    margin: 1em
    min-height: 130px
    max-width: 130px
    min-width: 130px
    padding: 1em
    position: relative
    text-align: center

    +tablet
        min-height: 150px
        min-height: 150px
        margin: 1em
        min-height: 150px
        margin: 1em
        max-width: 150px
        min-width: 150px
        padding: 1em

    p
        margin-bottom: 0

.sponsor-badge
    position: absolute
    width: 30%

    top: -10%
    right: -10%

.sponsor-card-img
    width: 100%
    height: auto
