*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Archivo, Arial, sans-serif;
  font-size: 15px;
  color: #F9C80E;
  background-color: #2E2157;
}
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

h1, h2, h3 {
  font-family: "Darker Grotesque", Arial, sans-serif;
  line-height: 1em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p, li {
  line-height: 1.8em;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 4vw;
}

footer {
  background: orange;
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor-card {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1 1 0px;
  min-height: 150px;
  margin: 1em;
  max-width: 150px;
  min-width: 150px;
  padding: 2em;
  position: relative;
  text-align: center;
}
.sponsor-card p {
  margin-bottom: 0;
}

.sponsor-badge {
  position: absolute;
  width: 30%;
  top: -10%;
  right: -10%;
}

.sponsor-card-img {
  width: 100%;
  height: auto;
}

header {
  margin-top: 1em;
}
header .logo-line {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
header .logo-line img {
  width: clamp(240px, 35vw, 400px);
}
header .participate-line {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
header .participate-line a {
  color: white;
  background-color: #FD1D53;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2em;
  padding: 1em 2em;
}
header .participate-line a:hover {
  background-color: #F706CF;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 1em;
}
nav .nav-item {
  margin: 0 0.5em;
  color: #F9C80E;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.2em;
}
@media (min-width: 750px) {
  nav .nav-item {
    margin: 0 0.8em;
  }
}
nav .nav-item:after {
  display: block;
  content: "";
  opacity: 0;
  height: 3px;
  background-color: #F9C80E;
}
nav .nav-item:hover:after {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

main {
  margin-top: 4em;
}

.agenda .days {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 900px) {
  .agenda .days {
    flex-direction: row;
  }
}
.agenda .days > * {
  flex: 1;
}

.start {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 900px) {
  .start {
    flex-direction: row;
  }
}
.start .graphic {
  min-width: 40%;
}
.start .graphic img {
  max-width: 70%;
  margin: 3em 15%;
}

.sponsoring-packages {
  display: flex;
  flex-direction: column;
}
.sponsoring-packages .package {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  margin: 1em;
}
@media (min-width: 600px) {
  .sponsoring-packages .package {
    flex-direction: row;
  }
}
.sponsoring-packages .package .package-content {
  width: 100%;
}
.sponsoring-packages .package img {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .sponsoring-packages .package img {
    margin: 2em;
    width: 30%;
    min-width: 150px;
    max-width: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
